####################################################
################## Train parameters ################
####################################################
[train_args]
network = intersection
experiment_time = 300000 
experiment_save_agent_interval = 10000
tls_type = rl
demand_type = constant
demand_mode = step

####################################################
################ Agent's parameters ################
####################################################
[agent_type]
agent_type = A_CAT

