####################################################
################## Train parameters ################
####################################################
[train_args]
network = arterial
experiment_time = 1296000  
experiment_save_agent_interval = 86400
tls_type = rl
demand_type = constant
demand_mode = step
epsilon_init = 1.0
epsilon_final = 0.01
epsilon_schedule_timesteps =  1290000

####################################################
################ Agent's parameters ################
####################################################
[agent_type]
agent_type = A_CAT


