####################################################
################## Train parameters ################
####################################################
[train_args]
network = 6_6
# experiment_time = 648000
# experiment_time = 432000
experiment_time = 360000
experiment_save_agent_interval = 3600
tls_type = rl
demand_type = constant
demand_mode = step
epsilon_init = 0.9
epsilon_final = 0.01
epsilon_schedule_timesteps = 359000

####################################################
################ Agent's parameters ################
####################################################
[agent_type]
agent_type = GAT
